body {
  background-color: #272727;
  font-family: Arial, sans-serif;
  color: #fff;
}

.app {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color:#272727;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  animation: fadeIn 1s ease;
}

.app h1 {
  text-align: center;
  margin-bottom: 24px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}